<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.3.1)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [8]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [10]:
# Write your code here
summary = pd.DataFrame({
    'DataType': df.dtypes,
    'NonMissingCount': df.notnull().sum(),
    'MissingCount': df.isnull().sum()
})

print(summary)

                    DataType  NonMissingCount  MissingCount
ResponseId             int64            65437             0
MainBranch            object            65437             0
Age                   object            65437             0
Employment            object            65437             0
RemoteWork            object            54806         10631
...                      ...              ...           ...
JobSatPoints_11      float64            29445         35992
SurveyLength          object            56182          9255
SurveyEase            object            56238          9199
ConvertedCompYearly  float64            23435         42002
JobSat               float64            29126         36311

[114 rows x 3 columns]

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [11]:
# Write your code here
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [12]:
# Write your code here
unique_countries = df['Country'].unique()
print(f"Unique Country entries ({len(unique_countries)}):")
print(unique_countries)

Unique Country entries (186):
['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [13]:
## Write your code here
# Remove rows with missing Country
df = df[df['Country'].notnull()]

# Remove entries like 'Nomadic'
df = df[df['Country'].str.lower() != 'nomadic']

# Example of manual mapping for common variants:
country_mapping = {
    'United States of America': 'United States',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Iran, Islamic Republic of...': 'Iran',
    'Venezuela, Bolivarian Republic of...': 'Venezuela',
    'Democratic People\'s Republic of Korea': 'North Korea',
    'Republic of Korea': 'South Korea',
    # add more as needed
}

df['Country'] = df['Country'].replace(country_mapping)

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [14]:
## Write your code here
# One-hot encode the 'Employment' column
employment_dummies = pd.get_dummies(df['Employment'], prefix='Employment').astype(int)

# Join the new one-hot encoded columns back to the original DataFrame
df = pd.concat([df, employment_dummies], axis=1)

# Optionally, drop the original 'Employment' column if you no longer need it
# df = df.drop('Employment', axis=1)

# Check the new columns
print(employment_dummies.head())

   Employment_Employed, full-time  \
0                               1
1                               1
2                               1
3                               0
4                               0

   Employment_Employed, full-time;Employed, part-time  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Retired  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   ...  \
0  ...
1  ...
2  ...
3  ...
4  ...

   Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Student, full-time;Student, part-time  \
0                                                 0
1                                                 0
2                                                 0
3                                                 0
4                                                 0

   Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Student, full-time;Student, part-time;Retired  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Student, part-time  \
0                              0
1                              0
2                              0
3                              0
4                              0

   Employment_Student, part-time;Employed, part-time  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Employment_Student, part-time;Retired
0                                      0
1                                      0
2                                      0
3                                      0
4                                      0

[5 rows x 103 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [16]:
## Write your code here
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
# Calculate missing values per column
df2 = pd.read_csv(dataset_url)
missing_counts = df2.isnull().sum()

# Sort columns by descending missing count
missing_counts_sorted = missing_counts.sort_values(ascending=False)

# Display columns with missing values (non-zero) and their counts
print(missing_counts_sorted[missing_counts_sorted > 0])

AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
                              ...
YearsCode                      5568
NEWSOSites                     5151
LearnCode                      4949
EdLevel                        4653
AISelect                       4530
Length: 109, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [17]:
## Write your code here
mean_value = df['ConvertedCompYearly'].mean()
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(mean_value)

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [18]:
## Write your code here
# Find the mode (most frequent value) of the 'RemoteWork' column
most_frequent_value = df['RemoteWork'].mode()[0]

# Fill missing values with the mode
df['RemoteWork'] = df['RemoteWork'].fillna(most_frequent_value)

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [19]:
## Write your code here
col = 'ConvertedCompYearly'


# Apply Min-Max scaling
df[col + '_MinMax'] = (df[col] - df[col].min()) / (df[col].max() - df[col].min())

print(df[[col, col + '_MinMax']].head())

   ConvertedCompYearly  ConvertedCompYearly_MinMax
0         86155.784986                      0.0053
1         86155.784986                      0.0053
2         86155.784986                      0.0053
3         86155.784986                      0.0053
4         86155.784986                      0.0053

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [20]:
## Write your code here
import numpy as np



# Add a small constant to avoid log(0)
df['ConvertedCompYearly_log'] = np.log1p(df['ConvertedCompYearly'])  # log1p(x) = log(1 + x)

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [21]:
## Write your code here
def map_experience_level(years):
    try:
        years = float(years)
    except:
        return 'Unknown'  # for NaN or invalid entries

    if years <= 0:
        return 'Entry'
    elif 1 <= years <= 2:
        return 'Junior'
    elif 3 <= years <= 5:
        return 'Mid'
    elif 6 <= years <= 10:
        return 'Senior'
    elif years > 10:
        return 'Expert'
    else:
        return 'Unknown'

df['ExperienceLevel'] = df['YearsCodePro'].apply(map_experience_level)

# Check the new column
print(df[['YearsCodePro', 'ExperienceLevel']].head(10))

  YearsCodePro ExperienceLevel
0          NaN         Unknown
1           17          Expert
2           27          Expert
3          NaN         Unknown
4          NaN         Unknown
5          NaN         Unknown
6            7          Senior
7          NaN         Unknown
8          NaN         Unknown
9           11          Expert

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.